<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Add A Trip</title>
  </head>

  <style>

    body
    {
      
      background-image: url({{ url_for('static', filename='back.jpg') }});
      background-repeat: no-repeat;
      
    }

      .leftside
      {
          margin-top: 25px;
          margin-left: 55px;
      }

      .header
      {
        margin-top: 25px;
        margin-left: 55px;

      }

      .alerts
      {
          color: red;
      }

    img
    {
        margin-left: 50px;
    }

    .little
    {
      margin-top: 15px;
    }




  </style>



  <body>
      <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
         
          </a>
          <div class="right_align_nav">
              <span class="navbar-text text-white ml-auto">
                  </span>
              <a href="/travels">Back</a>
              <a href="/logout"><button class="btn btn-outline-light ml-3" type="button">logout</button></a>
          </div>
          
      </nav>
      <img class="little" src="{{url_for('static', filename='littlep.png')}}" />

      <div class = "leftside">
            <form action='/adding' method='post' name="theform">
                <div class ="innerbox">
                    <h4> Add a Trip </h4>
                    <br>
                    <b>Destination:</b><br>
                    <input class="form-control col-2" type='text' name='destination'> 
                    <br>
                   
                    <b>Description:</b> <br>
                    <input class="form-control col-2" type='text' name ='description'>
                    <br>
                    
                    <b>Travel Date From:</b><br>
                    <input type='date' name='startdate'> 
                    <br>
                    <br>
                    <b>Travel Date To:</b> <br>
                    <input type='date' name ='enddate'>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-outline-secondary" type ="submit" value="submit">Add Trip</button>
                </div>
            </form>


      </div>

      <div class = header>
            
            {% with messages = get_flashed_messages(category_filter=['wrong'])%}
                {% if messages %}
                  {% for message in messages %}
                    <p class ="alerts"><b>{{message}}</b></p>
                  {% endfor %}
                {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=['okgreen']) %}
            {% if messages %}
              {% for message in messages %}
                <p class ="alertsok"><b>{{message}}</b></p>
              {% endfor %}
            {% endif %}
        {% endwith %}
            
        </div>

        



      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>